.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.home > h1{
  padding: 0px 50px;
  font-size: 40px;
  font-family: Helvetica;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.home {
  padding-top: 70px;
}

.name {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 20px;
}

.about {
  padding: 0px 100px;
}
.about > h1 {
  font-size: 40px;
  margin: 10px;
}
.about > p {
  font-size: 20px;
  padding-left: 30px;
}
.about-img {
  padding: 65px 0px 10px 0px;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.animal {
  padding: 80px 100px;
}
.animal > h1 {
  font-size: 50px;
}

.info-box {
  display:flex;
  flex-direction: column;
  padding: 0px 50px;
}
.info-box > p {
  font-size: 25px;
  margin: 10px;
}
.pic-info-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.adopt {
  background-color: #0080ff;
  border-radius: 40px;
  font-size: 35px;
  padding: 20px 65px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 40px 0px;
}

.review {
  background-color: #808080;
  border-radius: 10px;
  font-size: 40px;
}